site_name: Mille Nuits Documentations
site_url: https://davidbalny.github.io/AP-SIO1-mille-nuits/
copyright: Licence CC 4.0 FR BY-NC-SA - 2025 D. Balny et Q. Demoulière - Lycée Paul-Louis Courier 

theme:
  name: material
  logo: assets/logo-ap.png
  language: fr
  
extra_css:
  - assets/css/custom.css
markdown_extensions:
  - admonition
  - tables
  - footnotes
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - md_in_html
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.tabbed:
      alternate_style: true
nav:
  - Accueil: index.md
  - SP1-Gestion de l’infrastructure réseau: Documentations/SP1-Gestion de l’infrastructure réseau/SP1.md
 # - SP2-Mission1-Créer une documentation avec MkDocs et GitHub Pages: Documentations/SP2-Gestion du parc informatique/SP2-Mission1-Créer une documentation avec MkDocs et GitHub Pages.md
  - SP2-Mission2-Installation des nouveaux postes clients: Documentations/SP2-Gestion du parc informatique/SP2-Mission2-Installation des nouveaux postes clients.md

use_directory_urls: false