/* Augmente la hauteur du bandeau */
:root {
  --md-header-height: 96px; /* ajuste : 80 / 96 / 112 */
}

/* Agrandit le logo */
.md-header__button.md-logo img {
  height: 72px;   /* taille du logo */
  width: auto;
}
